In [19]:
import pandas as pd

In [18]:
caminho_arquivos ="dados/TargetSales/"

In [9]:
customers = pd.read_csv(f"{caminho_arquivos}customers.csv",dtype={"customer_zip_code_prefix": "str"} )
geolocations = pd.read_csv(f"{caminho_arquivos}geolocation.csv",dtype={"geolocation_zip_code_prefix": "str"})
order_items = pd.read_csv(f"{caminho_arquivos}order_items.csv",parse_dates=["shipping_limit_date"])
orders = pd.read_csv(f"{caminho_arquivos}orders.csv", parse_dates=["order_purchase_timestamp","order_approved_at","order_delivered_carrier_date","order_delivered_customer_date","order_estimated_delivery_date"])
payments = pd.read_csv(f"{caminho_arquivos}payments.csv")
products = pd.read_csv(f"{caminho_arquivos}products.csv")
sellers = pd.read_csv(f"{caminho_arquivos}sellers.csv", dtype={"sellers_zip_code_prefix": "str"})

In [23]:
orders = pd.read_csv(f"{caminho_arquivos}orders.csv", parse_dates=["order_purchase_timestamp","order_approved_at","order_delivered_carrier_date","order_delivered_customer_date","order_estimated_delivery_date"])

In [20]:
products["product_photos_qty"] = products["product_photos_qty"].fillna(0)
products["product_photos_qty"] = products["product_photos_qty"].astype(int)
products.dtypes

product_id                     object
product category               object
product_name_length           float64
product_description_length    float64
product_photos_qty              int64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [24]:
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [ ]:
culunas_escolhidas= ['order_id', 'customer_id', 'order_status','order_delivered_customer_date']
orders[culunas_escolhidas].head(2)

,order_id,customer_id,order_status,order_delivered_customer_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-10 21:25:13
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-08-07 15:27:45

In [ ]:
# transformar o dataframe apenas com colunas selecionadas
orders=orders[culunas_escolhidas]
orders.head(2)

,order_id,customer_id,order_status,order_delivered_customer_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-10 21:25:13
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-08-07 15:27:45

In [31]:
orders_atuais = ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date']
orders_novas = ['id_da_ordem', 'id_do_cliente', 'status_da_orde,', 'data_compra',
       'data_aprovado', 'data_transportadora',
       'data_entrega', 'data_prevista']
orders.columns = orders_novas
orders.head(2)

,id_da_ordem,id_do_cliente,"status_da_orde,",data_compra,data_aprovado,data_transportadora,data_entrega,data_prevista
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13

In [33]:
orders = orders.rename(columns={ 'data_transportadora': 'data_entregue_transpoprtadora' })

orders.head(2)

,id_da_ordem,id_do_cliente,"status_da_orde,",data_compra,data_aprovado,data_entregue_transpoprtadora,data_entrega,data_prevista
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13